*,::before,::after{
	padding: 0;
	margin: 0;
	-webkit-tap-highlight-color: transparent;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 14px;
	font-family: '微软雅黑';
	overflow-x: hidden;
}

.f_l{
	float: left;
}

.f_r{
	float: right;
}
ol,ul{
	list-style: none;
}
.clearfix::before,.clearfix::after{
	content: '';
	display: block;
	line-height: 0;
	height: 0;
	visibility: hidden;
	clear: both;
}

a{
	text-decoration: none;
	color: #000;
}

input{
	height: 30px;
	width: 100%;
}