/*头部布局*/
.jd_head{
	position: fixed;
	z-index: 99;
	height: 40px;
	width: 100%;
	background-color: rgba(201,21,35,0);
	padding-left: 70px;
	padding-right: 60px;
}
.jd_head .head_logo{
	width: 60px;
	height: 36px;
	position: absolute;
	left: 5px;
	top: 2px;
	background-image: url("../images/sprites.png");
	background-repeat: no-repeat;
	background-size: 200px 200px;
	background-position: 0 -103px;
}
.jd_head .head_glass{
	position: absolute;
	height: 20px;
	width: 20px;
	top: 10px;
	left: 75px;
	background-image: url("../images/sprites.png");
	background-repeat: no-repeat;
	background-size: 200px 200px;
	background-position: -60px -109px;
	z-index: 100;
}
.jd_head .head_search{
	position: relative;
	margin-top: 5px;
	border-radius: 15px;
	padding-left: 25px;
}
.jd_head .head_login{
	position: absolute;
	top: 7px;
	right: 14px;
	color: #fff;
	font-size: 18px;
}



/*轮播图*/
.slide{
	position: relative;
	width: 100%;
	overflow: hidden;
}
.slide .slideshow{
	width: 1000%;
	transform: translateX(-10%);
}
.slide .slideshow li{
	width: 10%;
	float: left;
}
.slide .slideshow li a{
	width: 100%;
	display: block;
}
.slide .slideshow li img{
	width: 100%;
}

.slide .origin{
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -32px;
}
.slide .origin li{
	float: left;
	height: 5px;
	width: 5px;
	border: 1px solid #eee;
	border-radius: 50%;
	margin-left: 3px;
}
.slide .origin li.current{
	background-color: #fff;
}

/*导航栏*/
.jd_nav{
	width: 100%;
	border-bottom: 1px solid #ccc;
}
.jd_nav ul{
	width: 100%;
	margin-top: 5px;
}
.jd_nav ul li{
	width: 25%;
	float: left;
}
.jd_nav ul li a{
	width: 100%;
}
.jd_nav ul li a img{
	display: block;
	width: 60%;
	margin: 0 auto;
}
.jd_nav ul li a p{
	text-align: center;
	margin: 5px 0;
	color: gray;
}


/*京东超市*/
.main{
	width: 100%;
	margin-top: 10px;
	padding: 0 5px;
}
.main .main_content{
	width: 100%;
	border: 1px solid #eee;
	box-shadow: 0 0 2px #eee;
	margin-top: 3px;
}
.main .main_content:nth-child(1) .main_top{
	height: 32px;
	width: 100%;
	position: relative;
	border-bottom: 1px solid #eee;
}
.main .main_content:nth-child(1) .main_top span{
	background-image: url("../images/seckill-icon.png");
	background-size: 20px 25px;
	float: left;
	width: 20px;
	height: 25px;
	margin-top: 3.5px;
	margin-left: 5px;
}
.main .main_content:nth-child(1) .main_top p{
	line-height: 32px;
	color: rgb(201,21,35);
	margin-left: 5px;
}
.main .main_content:nth-child(1) .main_top ul{
	position: absolute;
	top: 8.5px;
	left: 90px;
}
.main .main_content:nth-child(1) .main_top ul li{
	width: 15px;
	height: 15px;
	float: left;
	background-color: #000;
	margin-left: 3px;
	color: #fff;
	text-align: center;
	line-height: 15px;
}
.main .main_content:nth-child(1) .main_top ul li:nth-child(3){
	background-color: #fff;
	color: #000;
}
.main .main_content:nth-child(1) .main_top ul li:nth-child(6){
	background-color: #fff;
	color: #000;
}

.main .main_content:nth-child(1) .main_top a{
	float: right;
	line-height: 32px;
	color: gray;
}
.main .main_content:nth-child(1) .main_bottom{
	width: 100%;
}
.main .main_content:nth-child(1) .main_bottom ul{
	width: 100%;
}
.main .main_content:nth-child(1) .main_bottom ul li{
	float: left;
	width: 33.333%;
}
.main .main_content:nth-child(1) .main_bottom ul li a{
	display: block;
	width: 100%;
	border-right: 1px solid #000;
}
.main .main_content:nth-child(1) .main_bottom ul li:last-child a{
	border-right: none;
}
.main .main_content:nth-child(1) .main_bottom ul li a img{
	margin: 0 auto;
	display: block;
	width: 60%;
}
.main .main_content:nth-child(1) .main_bottom ul li p{
	text-align: center;
}
.main .main_content:nth-child(1) .main_bottom ul li p:nth-child(2){
	color: rgb(201,21,35);
}
.main .main_content:nth-child(1) .main_bottom ul li p:nth-child(3){
	text-decoration: line-through;
}

.main .main_content .main_top h3{
	color: rgb(201,21,35);
	line-height: 32px;
	position: relative;
	left: 20px;
}
.main .main_content .main_top h3::before{
	content: '';
	position: absolute;
	height: 20px;
	width: 5px;
	left: -10px;
	top: 8.5px;
	background-color: rgb(201,21,35);
}

.main .main_content:nth-child(n+2) .main_bottom{
	width: 100%;
}
.main .main_content:nth-child(n+2) .main_bottom ul{
	width: 100%;
}
.main .main_content:nth-child(n+2) .main_bottom ul li{
	width: 50%;
}
.main .main_content:nth-child(n+2) .main_bottom ul li a{
	width: 100%;
	display: block;
	border-right: 1px solid #ccc;
}
.main .main_content:nth-child(n+2) .main_bottom ul li:nth-child(2) a{
	border-right: none;
}
.main .main_content:nth-child(n+2) .main_bottom ul li:nth-child(3) a{
	border-right: none;
}
.main .main_content:nth-child(n+2) .main_bottom ul li a img{
	width: 100%;
	display: block;
}